.portfolio__iam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
    gap: 12rem;

    h1 {
        font-family: "Montserrat", sans-serif;
        line-height: 3.5rem;
        width: 48%;
    }

    &-functions {
        color: #0148FF;
        display: flex;
        flex-direction: column;
        
        span {
            border-right: 2px solid #0148FF;
            padding-right: 2px;
            white-space: nowrap;
            overflow: hidden;

            &:first-child{
                animation: brightnessSpan 300ms normal infinite, changeWidth1 2s normal steps(50) 1s both, changeVisibility 100ms normal 4s forwards;
            }
            &:nth-child(2){
                animation: brightnessSpan 300ms normal infinite 2s, changeWidth2 2s normal steps(50) 2s both, changeVisibility 100ms normal 6s forwards;
            }
            &:last-child{
                animation: brightnessSpan 300ms normal infinite 4s, changeWidth3 3s normal steps(50) 4s both infinite;
            }
        }
    }

    &-image {
        img {
            max-width: 100%;
            height: 450px;
            border-radius: 20px;
            text-align: center;
        }
    }
}

@keyframes brightnessSpan {
    0% {
        border-right-color: #0148FF;
    }

    100% {
        border-right-color: transparent;
    }
}

@keyframes changeWidth1 {
    0% {
        width: 0;
    }

    100% {
        width: 38%;
    }
}

@keyframes changeWidth2 {
    0% {
        width: 0;
    }

    100% {
        width: 67%;
    }
}

@keyframes changeWidth3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes changeVisibility{
    0%{
        opacity: 1;
    }
    
    100%{
        width: 0;
        height: 0;
        opacity: 0;
    }
}