.portfolio__iam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
    gap: 12rem;

    h1 {
        font-family: "Montserrat", sans-serif;
        line-height: 3.5rem;
        width: 48%;
    }

    &-functions {
        color: #0148FF;
        display: flex;
        flex-direction: column;
        
        span {
            border-right: 2px solid #0148FF;
            padding-right: 2px;
            animation: changeWidth 500ms nromal 1s infinite;
        }
    }

    &-image {
        img {
            max-width: 100%;
            height: 450px;
            border-radius: 20px;
            text-align: center;
        }
    }
}

@keyframes brightnessSpan {
    0% {
        border-right-color: #0148FF;
    }

    100% {
        border-right-color: transparent;
    }
}

@keyframes changeWidth {
    0% {
        width: 0;
    }

    100% {
        width: 35%;
    }
}

@keyframes changeWidthSpan2 {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

@keyframes changeWidthSpan3 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}