*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: background-color ease-in-out 200ms;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}
