.portfolio__habilities{
    margin-top: 152px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;

        &_image{

            img{
                max-width: 100%;
            }
        }

        &_icons{
            display: flex;
            flex: 0.7;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            img{
                height: 151px;
            }
        }
    }
}