.portfolio__aboutme {
    margin-top: 205px;
    
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &-image {
            flex: 1;
            background: url(../../assets/background_blue.svg) center no-repeat;
            min-height: 750px;
            display: flex;
            justify-content: center;
            
            img {
                max-width: 359px;
            }
        }
        
        &-texts {
            flex: 1;
            line-height: 32px;
            text-align: justify;
            
            h2{
                width: 70%;
            }
        }
    }
}